<% if @login_user.nil? %>
<p>현재 로그인된 유저가 없습니다.</p>
<%= link_to "로그인", "/sign_in" %>
<% else %>
<p> 현재 로그인 된 유저 : <%= @login_user.user_id %></p>
<%= link_to "로그아웃", "/logout" %>
<% end %>

<ul>
<% @users.each do |r|%>
    <li> <%= link_to r.user_id, "/user/#{r.id}" %> </li>
<% end %>
</ul>
<%= link_to "새 유저 등록", "/sign_up" %>